<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khôi phục mật khẩu thành công</title>
    <link rel="stylesheet" href="../css/auth.css">
</head>
<body>
    <div class="container">
        <h1>Đặt Lại Mật Khẩu</h1>
        <p>Vui lòng nhập mật khẩu mới để hoàn tất quá trình khôi phục.</p>
        <form action="/resetPassword" method="post">
            <div class="input-group">
                <label for="newPassword">Password</label>
                <input type="password" id="newPassword" name="newPassword" placeholder="Nhập mật khẩu mới của bạn" required>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Xác nhận mật khẩu</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" required>
            </div>
            <button type="submit" class="button">Đặt lại mật khẩu</button>
        </form>
        <p class="link">Quay lại <a href="/login">Đăng nhập</a></p>
    </div>
</body>
</html>
