/* Phần chung đã tái sử dụng */

/* Phần cho giao diện thống kê */
.statistics {
  text-align: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  overflow-y: scroll;
}

.stats-grid::-webkit-scrollbar {
  display: none;
}

.chart-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  
}

.chart-card h2 {
  text-align: left;
  
}

.chart {
  width: 100%;
  height: 150px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.chart.pink {
  background-color: #ffe4e4;
}

.chart.teal {
  background-color: #e4f7f7;
}

.chart.navy {
  background-color: #e4e4f7;
}

.pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend {
  font-size: 14px;
  text-align: left;
}

.legend .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.legend .dot.red {
  background-color: #ff8a8a;
}

.legend .dot.blue {
  background-color: #8ab6ff;
}

.legend .dot.green {
  background-color: #88ff88;
}

.devices-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.device {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.softing-device {
  display: flex;
}
